mixin head(data)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title #{data.title}
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")
    meta(name="facebook-domain-verification" content="8ac0i4epbrtdueojkve7iowwiasv80") 
    |<!--[if IE 8 ]><link href="%=static=%css/main_ie8%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if IE 9 ]><link href="%=static=%css/main_ie9%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><![endif]-->
    |<!--[if (gt IE 9)|!(IE)]><!--><link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css"><!--<![endif]-->

    if data.useSocialMetaTags
        meta(property="og:title", content=data.title)
        meta(property="og:url", content=data.ur)
        meta(property="og:description", content=data.description)
        meta(property="og:image", content="")
        meta(property="og:image:type", content="image/jpeg")
        meta(property="og:image:width", content="500")
        meta(property="og:image:height", content="300")
        meta(property="twitter:description", content=data.description)
        link(rel="image_src", href="")

    link(rel="icon" type="image/x-icon" href="favicon.ico")
    script.
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
    script(async src="https://www.googletagmanager.com/gtag/js?id=G-PDX6441CTL")
    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-PDX6441CTL');
    script(type = 'text/javascript').
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(85002463, "init", {
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
        });
    script.
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '618392445845255');
        fbq('track', 'PageView');
    script
    noscript
        img(height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=618392445845255&ev=PageView&noscript=1")
    noscript

    |<!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
